body{
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    color: #2e2f42;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    text-transform: uppercase;
}

.logo-accent{
    color: #2e2f42;
}


.menu-link{
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus{
    color: #404bbf;
}

.contact-link{
    color: #434455;
}

.contact-link:hover,
.contact-link:focus{
    color: #404bbf;
}
.hero {
    background-color: #2e2f42;
    text-align: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    color: #ffffff;
}

.hero-button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.features-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.features-text {
    color: #434455;
    line-height: 1.5;
}
.team {
    background-color: #f4f4fd;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    font-weight: 700;
}

.team-item {
    background-color: #ffffff;
    text-align: center;
}

.team-name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.team-position {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.portfolio-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
}

.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
footer {
    background-color: #2e2f42;
}

footer .logo-accent {
    color: #f4f4fd;
}

.footer-text {
    width: 264px;
    color: #e7e9fc;
    font-size: 16px;
    line-height: 1.5;
}